 <!-- Header Compponent -->
 <app-header></app-header>

<div class="container">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">TI</div>
        <div class="card-body">
          <h5 class="card-title">Tecnologia da Informação</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

    <div class="card-group">
    <div class="cardPrincipal" style="width: 15rem;">
        <div>        
            <img src="https://static.vecteezy.com/ti/vetor-gratis/t2/3731316-web-icon-vector-line-on-white-background-image-for-web-presentation-logo-icon-symbol-gratis-vetor.jpg" class="rounded float-start" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Front-End</h5>
          <p class="card-text">Desenvolvimento web front-end é o desenvolvimento da interface gráfica do usuário de um site, através do uso de HTML, CSS e JavaScript, para que os usuários possam visualizar e interagir com esse site..</p>
          <a href="#" class="btn btn-primary">Crescimento</a>
          <a href="#" class="btn btn-secondary">Porcentagem de Mercado</a>
        </div>
      </div>

    <div class="cardPrincipal" style="width: 18rem;">
        <div>        
            <img src="https://static.vecteezy.com/ti/vetor-gratis/t2/3731316-web-icon-vector-line-on-white-background-image-for-web-presentation-logo-icon-symbol-gratis-vetor.jpg" class="rounded float-start" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Back-End</h5>
          <p class="card-text">O back-end é a área que armazena os dados sendo consumidos ou manipulados pelo aplicativos ou softwares. Quem configura e cuida da manutenção desses bancos de dados hoje é o DBA, e quem manipula essas informações no dia a dia é o desenvolvedor back-end.</p>
          <a href="#" class="btn btn-primary">Crescimento</a>
          <a href="#" class="btn btn-secondary">Porcentagem de Mercado</a>
        </div>
      </div>

    <div class="cardPrincipal" style="width: 18rem;">
        <div>        
            <img src="https://static.vecteezy.com/ti/vetor-gratis/t2/3731316-web-icon-vector-line-on-white-background-image-for-web-presentation-logo-icon-symbol-gratis-vetor.jpg" class="rounded float-start" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Full Stack</h5>
          <p class="card-text">Full Stack é um tipo de profissional ligado à área de TI capaz de trabalhar nas mais diversas atividades que dizem respeito ao desenvolvimento e programação web, muito valorizado no mercado graças ao seu conhecimento em diferentes linguagens, códigos e tecnologias.</p>
          <a href="#" class="btn btn-primary">Crescimento</a>
          <a href="#" class="btn btn-secondary">Porcentagem de Mercado</a>
        </div>
      </div>
      <div class="cardPrincipal" style="width: 18rem;">
        <div>        
            <img src="https://static.vecteezy.com/ti/vetor-gratis/t2/3731316-web-icon-vector-line-on-white-background-image-for-web-presentation-logo-icon-symbol-gratis-vetor.jpg" class="rounded float-start" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Dev-Ops</h5>
          <p class="card-text">O DevOps é a combinação de filosofias culturais, práticas e ferramentas que aumentam a capacidade de uma empresa de distribuir aplicativos e serviços em alta velocidade.</p>
          <a href="#" class="btn btn-primary">Crescimento</a>
          <a href="#" class="btn btn-secondary">Porcentagem de Mercado</a>
        </div>
      </div>
    </div>
</div>