a{
    font-weight: bold;
}
.navbar {
background-color: rgb(118, 119, 118);
}
.navbar-brand {
    margin-right: 10rem;
}
.breadcrumb {
    margin: 0;
}
.container-fluid {
    align-items: center;
}
.container {
    display: inline-flex;
}

