<div class="container">
  <div class="card-group">
  <div class="card" routerLink="estatisticas">
    <img class="card-img-top" src="https://c7.alamy.com/comp/2AYMNWR/graph-chart-of-stock-market-investment-trading-monitor-finance-profit-and-statistic-abstract-analisys-and-statistic-diagram-vector-2AYMNWR.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Estatísticas</h5>
      <p class="card-text">Estatisticas do Mercado de Trabalho Brasileiro</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card" routerLink="sobre">
    <img class="card-img-top" src="https://www.shutterstock.com/image-illustration/question-mark-icon-interrogation-point-260nw-1415300084.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">O que é?</h5>
      <p class="card-text">Conheça a Aplicação.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="">
    <div class="card-body">
      <h5 class="card-title">......</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus, impedit quae? Exercitationem ad, facere voluptatem voluptates iusto asperiores natus aliquam? Neque quasi alias sit ut, nihil repellat iste dolorem dolore.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>
</div>