 <!-- Header Compponent -->
 <app-header></app-header>

<div class="container">
  <div class="card" style="width: 18rem;" routerLink="estatisticas">
    <img src="https://c7.alamy.com/comp/2AYMNWR/graph-chart-of-stock-market-investment-trading-monitor-finance-profit-and-statistic-abstract-analisys-and-statistic-diagram-vector-2AYMNWR.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Estatísticas</h5>
      <p class="card-text">Estatisticas do Mercado de Trabalho Brasileiro</p>
    </div>
  </div>

  <div class="card" routerlink="estatisticas" style="width: 18rem;" routerLink="sobre">
    <img src="https://www.shutterstock.com/image-illustration/question-mark-icon-interrogation-point-260nw-1415300084.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Sobre</h5>
      <p class="card-text">Conheça a Aplicação</p>
    </div>
  </div>
</div>