/* The ghost, nudged to maintain perfect centering */
.container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}
.container{
    text-align: center;
    width: 100%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}
.container img {
    max-width:auto;
    max-height:12rem;
    width: auto;
    height: auto;
}
.card {
    margin-right: 1rem;
    cursor: pointer;
    display: inline-flex;
    width: auto;
    height: auto;
}
.card:hover
{
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1); /* IE 9 */
    -webkit-transform: scale(1.1, 1.1);
}