.container{
    text-align: center;
}

/* The ghost, nudged to maintain perfect centering */
.container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

.card {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    margin-right: 1em;
    cursor: pointer;
}