 <!-- Header Compponent -->
 <app-header></app-header>

<section class="areas">
<div class="container">
  <div class="card-deck">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">TI</div>
      <div class="card-body" routerLink="ti">
        <h5 class="card-title">Tecnologia da Informação</h5>
      </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Admin</div>
      <div class="card-body">
        <h5 class="card-title">Administração</h5>
      </div>
    </div>

  </div>
</div>
</section>
