 <!-- Header Compponent -->
 <app-header></app-header>

<section class="areas">
<div class="container">
  <div class="card-deck">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;" routerLink="/ti">
      <div class="card-header">TI</div>
      <div class="card-body">
        <h5 class="card-title">Tecnologia da Informação</h5>
      </div>
    </div>

    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-header">Gestão</div>
      <div class="card-body">
        <h5 class="card-title">Administração</h5>
      </div>
    </div>

    <div class="card border-light mb-3" style="max-width: 18rem;">
      <div class="card-header"></div>
      <div class="card-body border">
        <h5 class="card-title">Adicionar</h5>
        <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
      </div>
    </div>

  </div>
</div>
</section>
